/* imports files */
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rye&display=swap&subset=latin-ext");
.container-fluid {
	font-style: Lato;
}
main {
	font-family: Lato, sans-serif, "Gill Sans", "Gill Sans MT", Calibri,
		"Trebuchet MS", sans-serif;
}
body {
  background-color: skyblue;
}
